<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <link rel="stylesheet" href="css/iview.css">
    <script src="js/vue.min.js"></script>

    <script src="js/iview.min.js"></script>

</head>
<body>

hello world


<div id="app">

    <date-picker type="daterange" split-panels placeholder="Select date" style="width: 200px"></date-picker>

    <i-circle :percent="80">
        <span class="demo-Circle-inner" style="font-size:24px">80%</span>
    </i-circle>

    <i-button @click="show">Click me!</i-button>
    <Modal v-model="visible" title="Welcome">Welcome to iView
    </Modal>

    <i-switch v-model="switch1" @on-change="change" ></i-switch>

    <Steps :current="1">
        <Step title="已完成" content="这里是该步骤的描述信息"></Step>
        <Step title="进行中" content="这里是该步骤的描述信息"></Step>
        <Step title="待进行" content="这里是该步骤的描述信息"></Step>
        <Step title="待进行" content="这里是该步骤的描述信息"></Step>
    </Steps>
<div>end</div>
</div>
</body>


<script>
    new Vue({
        el: '#app',
        data: {
            visible: false,
            switch1: false
        },
        methods: {
            show: function () {
                this.visible = true;
            },
            change (status) {
                this.$Message.info('开关状态：' + status);
            }
        }
    })
</script>
</html>